.container {
  display: flex;
  margin-top: 10px;
}

.confirm-box__actions button:nth-child(1) {
  background: #e50000;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  padding-bottom: 5px;
}

.confirm-box__actions button:nth-child(2) {
  background: #5e5e5e;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  padding-bottom: 5px;
}

.confirm-box__actions button:nth-child(1):hover {
  background: #fb1212;
}

.confirm-box__actions button:nth-child(2):hover {
  background: #6c6c6c;
}
