.userList {
  flex: 5;
  margin-left: 20px;
  margin-right: 10px;
  box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 30px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.userImage {
  display: flex;
  justify-content: center;
}
.reportTitle {
  font-weight: 300;
  text-align: center;
  margin: 20px 20px;
  font-weight: 500;
  font-size: 50px;
  text-transform: uppercase;
}
.buttonDelete {
  border: none;
  font-weight: 400;
  color: white;
  background: #ff0015;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
}
.buttonDelete:hover {
  background-color: #fa0546;

  color: white;
}
