.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topRight {
  display: flex;
  align-items: flex-end;
}

.logo {
  font-weight: 400;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.logo:hover {
  text-decoration: underline;
  text-decoration-color: #4c9865;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  color: #555;
}

.topIconBadge {
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 50%;
}

.topAvatar {
  cursor: pointer !important;
}

span.logo img {
  float: left;
  width: 50px;
  height: auto;
  margin-right: 5px;
}

.topLeft {
  margin-top: 30px;
}
ul.sidebarList a {
  text-decoration: none;
  color: #4c9865;
}
ul.sidebarList a:hover {
  text-decoration: none;
  color: white;
}

.topLeft a {
  text-decoration: none;
}

.topAvatar svg {
  height: 20px;
  fill: #000;
}

.topAvatar {
  display: flex;
  background: #e9e9e9;
  padding: 8px;
  border-radius: 5%;
}

.topAvatar:hover {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.button-logout {
  margin-top: 10px;
  display: flex;
  padding: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 15px;

  border-radius: 5px;
}

.button-logout:hover {
  background-color: red;
  color: white;
}
