.realtime {
  flex: 4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.reportTitle {
  font-weight: 700;
  text-align: center;

  font-size: 32px;
  color: #4c9865;

  text-transform: uppercase;
}
.buttonChanges {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttonNext {
  border: none;
  font-weight: 600;
  color: white;
  background: #3bb077;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  width: 100px;
}

.buttonNext:hover {
  color: black;
  background: #e9e9e9;
}
.buttonDelete {
  width: 100px;
  color: black;
  background: #e9e9e9;
}
.btnPrint {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  font-size: 11px;

  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: #4c9865;
}

.btnPrint:hover {
  color: black;
}

.MuiDataGrid-toolbarContainer.css-ypofq1-MuiDataGrid-toolbarContainer {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeSmall.MuiButton-textSizeSmall.MuiButtonBase-root.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #4c9865;
  font-size: 10px;
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeSmall.MuiButton-textSizeSmall.MuiButtonBase-root.css-1knaqv7-MuiButtonBase-root-MuiButton-root:hover {
  color: black;
}

li.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 12px;
  padding: 5px;
  color: black;
  font-weight: 400;
}

.DelieveryContainer {
  float: right;
  margin-right: 10px;
}

.DelieveryButton {
  border: none;
  color: white;
  background-color: #4c9865;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.DelieveryButton:hover {
  color: #4c9865;
  background-color: white;
}
