.upload{
    flex: 4;

}

.itemCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}
.userUpdateUpload{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.itemCenter h1{
    font-weight: bold;
    font-size: 30px;
    color:#4C9865 ;
}

.card{
    margin-top: 200px;
    width: 50%;
    border-radius: 10px;
   padding-bottom: 30px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
}

.itemCenter input{
    border:none;
    width: 250px;
    border-bottom: 1px solid gray;
    height: 30px;
}
.userUpdateimg{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
 
}

input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: 5px 5px;
    border-radius: 2px;
    background-color: darkblue;
    color: white;
    transition: 1s;

  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #089cff ;
    color: white;
  }

  .itemCenter button{
      border: none;
      border-bottom: 2px solid 
      #1671fa
      ;
      background-color: white;
      color: 
      #1671fa
      ;
  }

  .itemCenter button:hover{
    border-bottom: 10px solid 
    #1671fa
    ;
  }

  