:root {
  --bd-light-green: #b7e4c7;
  --color-green: #4c9865;
  --ease: all 0.3s ease 0s;
  --overlay: rgba(23, 25, 29, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::before {
  display: block;
  content: "";
  height: 90px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

span.strong {
  font-weight: bold;
}

/* navbar */
.navbar li a:hover {
  color: var(--color-green) !important;
}

/* content links */
#about-us a,
.card-text a {
  text-decoration: none;
}

#about-us a:hover,
.card-text a:hover {
  color: var(--color-green);
  text-decoration: underline;
}


.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/* Justify paragrahps */
#home-section p,
#about-us p,
#download p,
#meet-the-team .card-text {
  text-align: justify;
}

/* Increase padding top & bottom */
#features,
#guides,
#about-us,
#meet-the-team,
#download,
#contact {
  padding: 6.25rem 0 !important;
}

/* Guides */
.top-header-plastics {
  min-height: 370px;
  background: linear-gradient(var(--overlay), var(--overlay)),
    url(../img/bd-guides/plastics/p1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-header-composing {
  min-height: 370px;
  background: linear-gradient(var(--overlay), var(--overlay)),
    url(../img/bd-guides/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video {
  height: 180px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 50%;
  opacity: 0.8;
}

.video i:hover {
  opacity: 1;
  background-color: #4c9865;
}

/* About section */

.about-img {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 50px;
  padding: 100px 0 100px 0;
}

.about-img .about-shape {
  position: relative;
  width: 394px;
  height: 394px;
  background-color: var(--bd-light-green);
  border-radius: 50%;
}

.about-img .about-shape::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid var(--bd-light-green);
  border-top-color: transparent;
  border-right-color: transparent;
  transform: scale(1.1) rotate(25deg);
}

.about-img .app {
  max-width: 250px;
  position: absolute;
  top: 100px;
  left: 95px;
  transform: rotate(-25deg) translateY(-15%);
}

.about-img .dashboard {
  max-width: 500px;
  position: absolute;
  top: 150px;
  left: -50px;
}

/* The team */

.team-img img {
  width: 150px;
}

/* Download */

.download-image .download-shape-1 {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: var(--bd-light-green);
  border-radius: 50%;
  z-index: -1;
}

.download-image .app-image {
  position: relative;
  max-width: 350px;
  padding: 65px 0 60px 60px;
}

/* Icons style */

.btn-group a {
  font-size: 1.5rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #c32aa3;
}

.fa-Linkedin {
  color: #0a66c2;
}

.fa-github {
  color: #333;
}

.fa-youtube {
  color: #bb0000;
}

/* Footer */

footer .footer-links {
  text-decoration: none;
}

/* Material icons styling */

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Media queries */

@media (max-width: 976px) {
  .about-img .app {
    max-width: 250px;
  }

  .about-img .about-shape {
    width: 380px;
    height: 380px;
  }
}

@media (max-width: 767.98px) {

  #home-section h1,
  #about-us h1,
  #feature h1,
  #download h1 {
    font-size: 1.8rem;
  }

  #home-section p,
  #about-us p,
  #meet-the-team p,
  #download p {
    font-size: 1.2rem;
  }

  #meet-the-team p.card-text {
    font-size: 1rem;
  }

  #about-us button {
    font-size: 1rem;
  }

  #download button {
    font-size: 1.2rem;
  }

  .btn-group a {
    font-size: 1.8rem;
  }
}

@media (max-width: 575.98px) {
  /* Home img */

  #home-section figure img {
    max-width: 12.5rem;
  }

  /* About img */

  .about-img .about-shape {
    width: 18.375rem;
    border-radius: 50%;
  }

  .about-img .app {
    left: 5rem;
    max-width: 10.375rem;
  }


  .about-img .dashboard {
    left: -1rem;
    max-width: 20.375rem;
  }


  .about-img .about-shape {
    width: 17.5rem;
    height: 17.5rem;
  }

  /* Download img */

  .download-image .download-shape-1 {
    height: 14.375rem;
    width: 14.375rem;
  }

  .download-image .app-image {
    max-width: 15.625rem;
    padding: 1.875rem 0 3.75rem 3.75rem;
  }

  #home-section h1,
  #about-us h1,
  #feature h1,
  #download h1 {
    font-size: 1.5rem;
  }

  #home-section p,
  #about-us p,
  #meet-the-team p,
  #download p {
    font-size: 1rem;
  }

  .btn-group a {
    font-size: 1.5rem;
  }

  #home-section button {
    font-size: 1rem;
  }

  #home-section figure img {
    width: 320px;
  }

  #about-us button {
    font-size: 1rem;
  }

  #download button {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* About img */
  .about-img .app {
    left: 3rem;
    max-width: 10rem;
  }


  .about-img .dashboard {
    left: -2.5rem;
    max-width: 18rem;
  }


  .about-img .about-shape {
    right: 1rem;
    width: 16rem;
    height: 16rem;
  }

  /* Download img */

  .download-image .download-shape-1 {
    height: 14rem;
    width: 14rem;
  }

  .download-image .app-image {
    max-width: 15rem;
    padding: 1rem 0 3rem 3rem;
  }

 
  #home-section p,
  #about-us p,
  #meet-the-team p,
  #meet-the-team p.card-text,
  #features p,
  #download p {
    font-size: 0.9rem;
  }

}