
.userTitleContainerPlastic{
    display: flex;
    justify-content: space-between;
}


.userUpdate{
    padding: 100px;

}

.userUpdateInput{
    outline: 0;
}
.userTitle{
    color: #4C9865;
    font-size: 30px;
}


.MuiSvgIcon-fontSizeInherit {
    font-size: inherit;
    color: white;
}

.alert{
    position: relative;
    top: -75px;
}

.formContainer{
    position: relative;
    top: -50px;
}
